/* Header */
.header_tit {
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
}


/* HomePage */
.homepage_container {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}

/* Input box */
.todoapp_inputbox {
  width: 100%;
  display: flex;
  align-items: center;
}
.todoapp_inputbox-inp {
  flex: 1;
  border: none;
  border-bottom: 1px solid #f1f3f5;
  padding: 10px;
  height: 50px;
  box-sizing: border-box;
}
.todoapp_inputbox-inp:focus {
  outline: none;
}
.todoapp_inputbox-add-btn {
  border: none;
  border-radius: 0;
  background-color: #d0ebff;
  color: #1c7ed6;
  height: 50px;
  width: 50px;
  font-weight: bold;
}

/* List */
.todoapp_list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.todoapp_list-tit {
  font-weight: bold;
  margin: 0;
}
.todoapp_list-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

/* Form */
.todoapp_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 36px;
}
.todoapp_item:last-child {
  margin-bottom: 0;
}
.todoapp_item-checkbox {
  margin-right: 10px;
}
.todoapp_item-ctx {
  flex: 1;
}
.todoapp_item-ctx-checked {
  font-style: italic;
  text-decoration: line-through;
  color: #868e96
}

.todoapp_item-edit-btn,
.todoapp_item-delete-btn {
  border: none;
  border-radius: 0;
  height: 36px;
  width: 36px;
  background-color: inherit;
}
.todoapp_item-edit-btn:hover,
.todoapp_item-delete-btn:hover {
  cursor: pointer;
  background-color: #d0ebff;
}
.todoapp_item-edit-btn {
  margin-right: 3px;
}